apptools==4.5.0
argon2-cffi==20.1.0
attrs==20.1.0
backcall==0.2.0
bleach==3.1.5
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
configobj==5.0.6
cryptography==3.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
envisage==4.9.2
future==0.18.2
idna==2.10
importlib-metadata==1.7.0
ipyevents==0.8.0
ipykernel==5.3.4
ipympl==0.3.3
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-server==1.2.0
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.1
mayavi==4.7.1
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.5
notebook==6.1.1
numpy==1.19.1
olefile==0.46
packaging==20.4
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pip==20.2.2
prometheus-client==0.8.0
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pycparser==2.20
pyface==7.0.1
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pyzmq==19.0.1
requests==2.24.0
scipy==1.5.2
Send2Trash==1.5.0
setuptools==49.6.0.post20200814
six==1.15.0
terminado==0.8.3
testpath==0.4.4
tifffile==0.15.1
tornado==6.0.4
traitlets==4.3.3
traits==6.1.1
traitsui==7.0.1
urllib3==1.25.10
vtk==8.2.0
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.35.1
widgetsnbextension==3.5.1
zipp==3.1.0
